* {
  color: #F8FAFC;
  font-family: Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
  box-sizing: border-box; /* Crucial for padding/width calculation */
}

body {
  margin: 0;
  padding: 0;
  background-color: #0F172A;
}

.app {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

/* This container wraps ONLY Sidebar and ChatWindow */
.main-layout {
  display: flex; /* Sidebar Left, Chat Right */
  flex-direction: row;
  width: 100%;
  height: 100vh;
}
