
/* 
  --color-nexus-bg:#050505;
  --color-nexus-sidebar:#0F1117;
  --color-nexus-border:#262626;
  --color-nexus-text:#ECECEC;
  --color-nexus-primary:#A855F7;
 */
/* .google-btn-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    width:100%;
    
}

.form-container h2 {
    margin-bottom: 20px;
    text-align: center;
    color: #F8FAFC;
} */